<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Required</title>
<link href="css/required.css" rel="stylesheet">
</head>
<body>
<div id="main">
<form>
	<label for="name">Name:</label><input type="text" id="name" required placeholder="Name">
	<br>
	<label for="email">Email:</label><input type="email" id="email" required placeholder="Email">
	<br>
	<label for="url">Url:</label><input type="url" id="url" required placeholder="Url">
	<br>
	<label for="number">Number:</label><input type="number" id="number" required>
	<br>
	<label for="age">Age:</label><input type="range" id="age" size="3" min="1" max="137" value="1" required>
	<br>
	<label for="password">Password:</label><input type="password" required placeholder="Password">
	<br>
	<label for="Date">Date:</label><input type="date" required>
	<br>
	<input type="submit" value="Submit and Validate">
</form>
</div>
</body>
</html>