<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Websockets</title>
	<link href="css/ws.css" rel="stylesheet">
</head>
<body>
	<h2>Websockets &amp; STOMP</h2>
	<button id="btnWsStart">Start ws</button><input type="text" disabled="disabled" id="textWs">
	<button id="btnWsStop">Stop ws</button>
	<br>
	<button id="btnStompStart">Start stomp</button><input type="Text" disabled="disabled" id="textStomp">
	<button id="btnStompStop">Stop stomp</button> 
	
	<script type="text/javascript" src="https://cdn.jsdelivr.net/sockjs/1/sockjs.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.js"></script>
	<script	type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script type="text/javascript" src="js/ws.js"></script>
</body>
</html>